In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df_train = pd.read_csv("data/train.csv")
df_test = pd.read_csv("data/test.csv")

In [4]:
df_train["Satisfaction in work life"] = df_train["Job Satisfaction"].combine_first(df_train['Study Satisfaction'])
df_train["Pressure in work life"] = df_train["Work Pressure"].combine_first(df_train['Academic Pressure'])
df_test["Satisfaction in work life"] = df_test["Job Satisfaction"].combine_first(df_test['Study Satisfaction'])
df_test["Pressure in work life"] = df_test["Work Pressure"].combine_first(df_test['Academic Pressure'])
df_train.drop(columns = ["Working Professional or Student","Job Satisfaction","Study Satisfaction", "Work Pressure", "Academic Pressure", "id","Name"], inplace = True)
df_test.drop(columns = ["Working Professional or Student","Job Satisfaction","Study Satisfaction", "Work Pressure", "Academic Pressure"], inplace = True)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,NaN,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,NaN,8.97,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,NaN,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,NaN,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [5]:


df_column = df_train.columns
for column in df_column:
    if df_train[column].dtype in ["float64", "int64"]:
        mean = df_train[column].mean()
        df_train[column] = df_train[column].fillna(mean)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,NaN,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [6]:
df_train.ffill(inplace = True)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,Teacher,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [7]:


df_train.isnull().any()

Gender                                   False
Age                                      False
City                                     False
Profession                               False
CGPA                                     False
Sleep Duration                           False
Dietary Habits                           False
Degree                                   False
Have you ever had suicidal thoughts ?    False
Work/Study Hours                         False
Financial Stress                         False
Family History of Mental Illness         False
Depression                               False
Satisfaction in work life                False
Pressure in work life                    False
dtype: bool

In [8]:


df_column = df_test.columns
for column in df_column:
    if df_test[column].dtype in ["float64", "int64"]:
        mean = df_test[column].mean()
        df_test[column] = df_test[column].fillna(mean)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,Teacher,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [9]:


df_test.ffill(inplace = True)
df_test.head()

,id,Name,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Satisfaction in work life,Pressure in work life
0,140700,Shivam,Male,53.0,Visakhapatnam,Judge,7.674016,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,5.0,2.0
1,140701,Sanya,Female,58.0,Kolkata,Educational Consultant,7.674016,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,4.0,2.0
2,140702,Yash,Male,53.0,Jaipur,Teacher,7.674016,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,1.0,4.0
3,140703,Nalini,Female,23.0,Rajkot,Teacher,6.840000,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,1.0,5.0
4,140704,Shaurya,Male,47.0,Kalyan,Teacher,7.674016,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0

In [10]:
string_columns = df_train.select_dtypes(include = ["object"]).columns
labels_encoders = {}
for column in string_columns:
    le = LabelEncoder()
    df_train[column] = le.fit_transform(df_train[column])
    labels_encoders[column] = le
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,0,49.0,50,10,7.658636,29,7,33,0,1.0,2.0,0,0,2.0,5.0
1,1,26.0,93,55,7.658636,27,20,63,1,7.0,3.0,0,1,3.0,4.0
2,1,33.0,97,55,8.970000,15,7,21,1,3.0,1.0,0,1,2.0,5.0
3,1,22.0,64,55,7.658636,27,15,28,1,10.0,1.0,1,1,1.0,5.0
4,0,30.0,37,9,7.658636,15,20,28,1,9.0,4.0,1,0,1.0,1.0