In [2]:
import pandas as pd
train=pd.read_csv("../data/cleaned_train.csv")
train.head()

,Unnamed: 0.1,Unnamed: 0,Gender,Sleep Duration,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Depression,age_binned,Working Professional or Student_Working Professional,Dietary Habits_Moderate,Dietary Habits_Unhealthy
0,0,0,1,2,0,0,0,0,3,1,0,0
1,1,1,0,0,1,0,0,1,1,1,0,1
2,2,3,0,0,1,0,0,1,0,1,1,0
3,3,6,0,1,0,0,0,0,3,1,1,0
4,4,7,0,1,0,0,0,0,2,1,0,1

In [ ]:
import torch
from torch import nn
from torch.utils.data import DataLoader
import torch.nn.functional as F
import torch.optim as optim